header {
    padding-top: 5px;
}

.container-header {
    max-width: 1000px;
    margin: auto;
}

.flex-header {
    display: flex;
    justify-content: space-around;
}

.favicons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.git {
    width: 22px;
    opacity: 0.77;
}

.discord,
.facebook,
.linkedin {
    padding: 5px 15px;
}

.logo, .logo > a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;
    text-decoration: none;
    color: var(--whi);
}

.logo h1 {
    font-family: var(--primary);
}

.logo img {
    padding: 5px 15px;
}

.pesquisar {
    display: flex;
    align-items: center;
    width: 20%;
}
